@media screen and (max-width:991px) {

    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .main-navbar ul {
        flex-direction: column;

    }


    .menu-bar ul li a.active {
        color: #ff009c;
    }

    .fixed-header .main-navbar ul li a:not(.active) {
        color: #fff;
    }

    .fixed-header .main-navbar ul li a.active {
        color: #ff009c;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 55;
    }

    .banner-text h1 {
        font-size: 85px;
    }

    .banner-text h2 {
        font-size: 40px;
    }

    .banner-image {
        height: 570px;
    }

    .home-page-intro p {
        font-size: 15px;
    }

    .home-page-cards-content a h3 {
        font-size: 45px;
    }

    .home-page-cards {
        height: 270px;
    }

    .page-blog-cards {
        height: 270px;
    }



    .home-page-featured-cards-group h3 {
        font-size: 35px;
    }

    .home-page-featured-cards-group ul li,
    .home-page-featured-cards-group p {
        font-size: 15px;
    }

    input.pages-signup-input {
        width: 50%;
        font-size: 15px;
        padding: 7px 15px;
    }

    .pages-signup-submit-button {
        padding: 7px 22px;
        font-size: 15px;
        margin: 10px auto;
    }

    .btn-darkred-block,
    .external-pages-link-btn {
        padding: 8px 15px;
        font-size: 15px;
    }

    .disclaimer-wrapper p {
        font-size: 15px;
    }

    .footer .footer-items ul li a {
        font-size: 16px;
    }

    /* Pages CSS Start */
    .pages-banner-text h3 {
        font-size: 35px;
        max-width: 300px;
        margin: 0 auto;
    }

    .pages-intro-section p {
        font-size: 15px;
    }

    .pages-cards-wrapper .section-heading {
        font-size: 60px;
        max-width: 450px;
        margin: 0 auto;
    }

    .pages-cards-group p,
    .pages-cards-group ul li {
        font-size: 15px;
    }

    .pages-cards-group h2 {
        font-size: 40px;
    }

    /* Pages CSS End */

    /* Contact Us Page CSS Start */
    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 8px;
        font-size: 14px;
    }

    #contact textarea {
        height: 70px;
    }

    /* Contact Us Page CSS Start */

    /* Privacy Policy Page CSS Start */
    .privacy-policy-group h3 {
        font-size: 45px;
    }

    .privacy-policy-group h4 {
        font-size: 19px;
    }

    .privacy-policy-group p,
    .privacy-policy-group ul li {
        font-size: 15px;
    }

    /* Privacy Policy Page CSS End */

    /* Terms Conditions CSS Start */
    .terms-conditions-group p,
    .terms-conditions-group ul li {
        font-size: 15px;
    }

    .terms-conditions-group .odd-heading {
        font-size: 18px;
    }

    .terms-conditions-group h4 {
        font-size: 17px;
    }

    /* Terms Conditions CSS End */

    /* Blog Pages CSS Start */
    .blog-banner-text h2 {
        max-width: 490px;
        margin: 0 auto;
    }
    .blog-page-cards-wrapper>p {
        font-size: 15px;
    }
    .blog-page-cards p {
        font-size: 15px;
    }
    .blog-page-cards h3 {
        font-size: 43px;
    }

    /* Blog Pages CSS End */



}

@media screen and (max-width:767px) {
    .banner-text h1 {
        font-size: 80px;
    }

    .banner-text h2 {
        font-size: 35px;
    }

    .banner-image {
        height: 500px;
    }

    .home-page-intro p {
        font-size: 14px;
    }

    .home-page-cards {
        height: 220px;
    }

    .page-blog-cards {
        height: 220px;
    }

    .home-page-cards-section {
        padding: 60px 0;
    }

    .home-page-cards-content a h3 {
        font-size: 40px;
    }

    input.pages-signup-input {
        width: 60%;
    }

    .section-heading {
        font-size: 70px;
    }

    .home-page-featured-cards {
        height: 100%;
        margin-bottom: 30px;
    }

    .home-page-featured-cards-group ul li,
    .home-page-featured-cards-group p {
        font-size: 14px;
    }

    .disclaimer-wrapper p {
        padding: 10px;
        font-size: 14px;
    }

    .accordion-body {
        font-size: 14px;
    }

    .accordion-item .accordion-header .accordion-button {
        font-size: 15px;
    }



    .footer-items {
        padding: 0;
    }

    .footer-items h3 {
        font-size: 45px;
    }

    .accordion-button::after {
        font-size: 13px;
    }

    /* Pages CSS Start */

    .pages-intro-section p {
        font-size: 14px;
    }

    .pages-banner-text h1 {
        font-size: 70px;
    }

    .pages-cards-wrapper .section-heading {
        font-size: 45px;
        max-width: 350px;
    }

    .pages-cards-content {
        padding: 20px 0;
    }

    .pages-cards-group p,
    .pages-cards-group ul li {
        font-size: 14px;
    }

    .pages-cards-image {
        height: 230px;
    }

    .pages-signup-wrapper h3 {
        font-size: 20px;
        max-width: 500px;
    }

    .copyright p {
        font-size: 14px;
    }


    /* Pages CSS End */

    /* Contact Us Page CSS Start */
    .contact-us-group h3 {
        font-size: 45px;
    }

    .contact-us-group p,
    .contact-us-group ul li {
        font-size: 15px;
    }

    .contact-us-group ul li a,
    .contact-us-group p a {
        font-size: 16px;
        font-weight: 500;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 8px;
        font-size: 14px;
    }

    #contact button[type="submit"] {
        width: 25%;
        padding: 9px;
        font-size: 15px;
    }

    /* Contact Us Page CSS Start */


    /* Privacy Policy Page CSS Start */
    .privacy-policy-group h3 {
        font-size: 40px;
    }

    .privacy-policy-group h4 {
        font-size: 18px;
    }

    .privacy-policy-group p a {
        font-weight: 500;
        font-size: 16px;
    }

    .privacy-policy-group {
        padding: 15px;
    }

    /* Privacy Policy Page CSS End */

    /* Terms Conditions CSS Start */
    .terms-conditions-group h3 {
        font-size: 40px;
    }

    .terms-conditions-group p,
    .terms-conditions-group ul li {
        font-size: 14px;
    }

    .terms-conditions-group .odd-heading {
        font-size: 16px;
    }

    .terms-conditions-group h4 {
        font-size: 16px;
    }

    /* Terms Conditions CSS End */

    /* Blog Pages CSS Start */
    .blog-banner-text h2 {
        margin-top: 90px;
        max-width: 440px;
        margin: 0 auto;
        font-size: 40px;
    }
    .blog-page-cards-wrapper>p {
        font-size: 14px;
    }
    .blog-page-cards p {
        font-size: 14px;
    }
    .blog-page-cards h3 {
        font-size: 41px;
    }

    /* Blog Pages CSS End */

}


@media screen and (max-width:575px) {
    .logo img {
        max-width: 170px;
    }

    .menu-icon {
        font-size: 22px;
    }

    .banner-text h1 {
        font-size: 70px;
    }

    .banner-text h2 {
        font-size: 30px;
    }

    .banner-image {
        height: 400px;
    }

    .home-page-intro p {
        font-size: 13px;
    }

    .home-page-cards-section {
        padding: 50px 0;
    }

    .home-page-cards-content a h3 {
        font-size: 45px;
    }

    input.pages-signup-input {
        width: 90%;
        font-size: 14px;
        padding: 7px 15px;
    }

    .pages-signup-submit-button {
        padding: 8px 22px;
        font-size: 14px;
    }

    .section-heading {
        font-size: 60px;
    }

    .home-page-featured-cards-image {
        height: 220px;
    }

    .home-page-featured-cards-content {
        padding: 15px 5px;
    }

    .home-page-featured-cards-group h3 {
        font-size: 30px;
    }

    .home-page-featured-cards-group p,
    .home-page-featured-cards-group ul li {
        font-size: 13px;
    }

    .btn-darkred-block,
    .external-pages-link-btn {
        padding: 8px 15px;
        font-size: 14px;
    }

    .disclaimer-wrapper p {
        font-size: 13px;
    }

    .accordion-body {
        font-size: 13px;
    }

    .accordion-item .accordion-header .accordion-button {
        font-size: 14px;
    }

    .accordion-button::after {
        font-size: 12px;
    }

    .footer-links,
    .footer-quick-links {
        width: 50%;

    }

    .footer-items h3 {
        font-size: 40px;
    }

    .footer .footer-items ul li a {
        font-size: 15px;
    }

    .logo-bottom {
        width: 100%;
        margin-bottom: 40px;
    }

    .logo-bottom img {
        max-width: 180px;
    }

    .copyright p {
        font-size: 13px;
    }


    /* Pages CSS Start */
    .pages-banner-text h1 {
        font-size: 60px;
        margin-top: 70px;
    }

    .pages-banner-text h3 {
        font-size: 30px;
        max-width: 250px;
    }

    .pages-intro-section p {
        font-size: 13px;
    }

    .pages-cards {
        padding: 10px;
    }

    .pages-cards-wrapper .section-heading {
        font-size: 40px;
        max-width: 300px;
    }

    .pages-cards-group p,
    .pages-cards-group ul li {
        font-size: 13px;
    }

    .pages-cards-image {
        height: 200px;
    }

    .pages-cards-group h2 {
        font-size: 38px;
    }

    .pages-signup-wrapper h3 {
        font-size: 18px;
        max-width: 400px;
        font-weight: 600;
    }

    /* Pages CSS End */
    /* Contact Us Page CSS Start */
    .contact-us-group h3 {
        font-size: 40px;
    }

    .contact-us-group p,
    .contact-us-group ul li {
        font-size: 14px;
    }

    .contact-us-group ul li a,
    .contact-us-group p a {
        font-size: 15px;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 7px;
        font-size: 13px;
    }

    #contact button[type="submit"] {
        width: 35%;
        padding: 9px;
        font-size: 14px;
    }

    /* Contact Us Page CSS Start */


    /* Privacy Policy Page CSS Start */
    .privacy-policy-group h3 {
        font-size: 35px;
    }

    .privacy-policy-group h4 {
        font-size: 17px;
    }

    .privacy-policy-group p,
    .privacy-policy-group ul li {
        font-size: 14px;
    }

    .privacy-policy-group p a {
        font-size: 15px;
    }

    /* Privacy Policy Page CSS End */


    /* Terms Conditions CSS Start */
    .terms-conditions-group h3 {
        font-size: 35px;
    }

    .terms-conditions-group p,
    .terms-conditions-group ul li {
        font-size: 13px;
    }

    .terms-conditions-group .odd-heading {
        font-size: 15px;
    }

    .terms-conditions-group h4 {
        font-size: 15px;
    }

    /* Terms Conditions CSS End*/

    /* Blog Pages CSS Start */
    .blog-banner-text h2 {
        max-width: 390px;
        margin: 0 auto;
        font-size: 35px;
    }
    .blog-page-cards-wrapper>p {
        font-size: 13px;
    }
    .blog-page-cards p {
        font-size: 13px;
    }
    .blog-page-cards h3 {
        font-size: 38px;
    }
    .blog-page-cards {
         min-height: 190px;
      }
    /* Blog Pages CSS End */

}


@media screen and (max-width:480px) {
    .logo img {
        max-width: 150px;
    }

    .banner-text h1 {
        font-size: 60px;
    }

    .pages-banner-text h1 {
        font-size: 55px;
        margin-top: 70px;
    }



    .banner-image {
        height: 330px;
    }

    .home-page-intro p {
        font-size: 12px;
    }

    .home-page-cards-content a h3 {
        font-size: 40px;
    }

    .home-page-cards {
        height: 200px;
    }

    .page-blog-cards {
        height: 200px;
    }

    .home-page-cards-wrapper>.row .col-sm-6:last-child .home-page-cards {
        margin-bottom: 0;
    }

    .pages-signup-wrapper h3 {
        font-size: 15px;
        max-width: 300px;
        font-weight: 600;
    }

    input.pages-signup-input {
        font-size: 13px;
        padding: 7px 15px;
    }

    .pages-signup-submit-button {
        padding: 7px 20px;
        font-size: 13px;
    }

    .section-heading {
        font-size: 50px;
    }

    .home-page-featured-cards-image {
        height: 180px;
    }

    .btn-darkred-block,
    .external-pages-link-btn {
        font-size: 13px;
    }

    .home-page-featured-cards {
        padding: 8px;
    }

    .disclaimer-wrapper p {
        font-size: 12px;
    }

    .accordion-body {
        font-size: 12px;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-items {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-items h3 {
        font-size: 35px;
    }

    .footer-items:last-child {
        margin-bottom: 0;
    }

    .footer-wrapper {
        justify-content: center;
    }

    .copyright p {
        font-size: 12px;
    }

    /* Pages CSS Start */
    .pages-banner-text h3 {
        font-size: 27px;
    }

    .pages-intro-section p {
        font-size: 12px;
    }

    .pages-cards-wrapper .section-heading {
        font-size: 35px;
        max-width: 300px;
        margin: 0 auto;
    }

    .pages-cards-image {
        height: 180px;
    }

    .pages-cards-group h2 {
        font-size: 33px;
    }

    .pages-cards-group p,
    .pages-cards-group ul li {
        font-size: 12px;
    }

    /* Pages CSS End */

    /* Contact Us Page CSS Start */
    .contact-us-group h3 {
        font-size: 35px;
    }

    .contact-us-group p,
    .contact-us-group ul li {
        font-size: 13px;
    }

    .contact-us-group ul li a,
    .contact-us-group p a {
        font-size: 14px;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 6px;
        font-size: 12px;
    }

    #contact button[type="submit"] {
        width: 45%;
        padding: 8px;
        font-size: 13px;
    }

    /* Contact Us Page CSS Start */

    /* Privacy Policy Page CSS Start */
    .privacy-policy-group h3 {
        font-size: 30px;
    }

    .privacy-policy-group h4 {
        font-size: 16px;
    }

    .privacy-policy-group p,
    .privacy-policy-group ul li {
        font-size: 13px;
    }

    .privacy-policy-group p a {
        font-size: 14px;
    }

    /* Privacy Policy Page CSS End */

    /* Terms Conditions CSS Start */
    .terms-conditions-group h3 {
        font-size: 30px;
    }

    .terms-conditions-group p,
    .terms-conditions-group ul li {
        font-size: 12px;
    }

    .terms-conditions-group .odd-heading {
        font-size: 14px;
    }

    /* Terms Conditions CSS End */

    /* Blog Pages CSS Start */
    .blog-banner-text h2 {
        margin-top: 60px;
        font-size: 28px;
        max-width: 300px;
    }
    .blog-page-cards-wrapper>p {
        font-size: 12px;
    }
    .blog-page-cards p {
        font-size: 12px;
    }
    .blog-page-cards h3 {
        font-size: 30px;
    }
    .blog-page-cards {
        min-height: 210px;
    }
    /* Blog Pages CSS End */

}