@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global CSS Start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
}

p {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 1.5;
  margin-bottom: 3px;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

button,
input[type=text],
input[type=submit] {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* old color 
#ff009c
#ee71be
*/

/* Global CSS End */


/*Header CSS Start */
.logo img {
  text-align: center;
  width: 100%;
  max-width: 200px;
  vertical-align: middle;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}

.main-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}


.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.main-navbar ul li a {
  font-size: 1rem;
  padding: 10px;
  display: inline-block;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  line-height: normal;
  font-weight: 500;
  position: relative;
}



.main-navbar ul li a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #fccb06;
  transition: all 300ms ease-in-out;
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
}

.main-navbar ul li a:hover:after,
.main-navbar ul li a.active:after {
  width: 100%;
}

.main-navbar ul li a.active {
  color: #fccb06;
}

.close-icon {
  display: none;
}

.fixed-header {
  background-color: #000;
  border-color: #000;
}


.menu-icon {
  display: none;
  color: #fccb06;
  width: 30px;
  text-align: right;
  cursor: pointer;
  margin: auto 0;
  font-size: 25px;
  z-index: 60;
}

/* Header CSS End */


/* Banner Section CSS Start */
.banner {
  position: relative;
  overflow: hidden;
}

.banner-image {
  height: 650px;
  width: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.banner-text h1 {
  font-size: 100px;
  color: #fff;
  display: block;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}

.banner-text h2 {
  font-size: 45px;
  color: #fff;
  display: block;
  font-weight: 700;
  text-transform: capitalize;
}

.banner-text h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fccb06;
  overflow: hidden;
  animation: animate 3s ease-in-out;
}

@keyframes animate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Banner Section  CSS End */

/* Section Heading CSS Start */
.section-heading {
  font-size: 80px;
  line-height: normal;
}

/* Section Heading CSS End */


/* Home Page Intro CSS Start */
.home-page-intro p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 8px;
}

/* Home Page Intro CSS End */


/* Home Cards CSS Start */
.home-page-cards-section {
  background-image: url("../images/home-page-cards-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  isolation: isolate;
  background-color: rgba(0 0 0/30%);
  background-blend-mode: multiply;
  padding: 80px 0 50px 0;
  overflow: hidden;
}

.home-page-cards {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.home-page-cards-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home-page-cards-image a {
  width: 100%;
  height: 100%;
}

.home-page-cards-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.7s all ease-in-out;
}

.home-page-cards:hover .home-page-cards-image img {
  transform: scale(1.1) rotate(-3deg);
}

.home-page-cards-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0 0 0/60%);
  background-blend-mode: multiply;
}

.home-page-cards-content a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.home-page-cards-content a h3 {
  font-size: 60px;
}

/* Home Cards CSS End*/

/* Home Page Signup CSS Start */
.pages-signup-section {
  padding: 40px 0;
}

.pages-signup-wrapper {
  text-align: center;
  border: 5px double #fccb06;
  padding: 30px 0;
}

.pages-signup-input-wrapper {
  padding-top: 20px;
  margin: 0 auto;
}

input.pages-signup-input {
  width: 40%;
  display: inline-block;
  font-size: 16px;
  padding: 9px 15px;
  outline: none;
  border: 1px solid transparent;
  line-height: normal;
}

.pages-signup-submit-button {
  display: inline-block;
  background: #fccb06;
  padding: 9px 25px;
  font-size: 16px;
  outline: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  line-height: normal;
}

.pages-signup-submit-button:hover {
  background-color: #fff;
  color: #000;
  border-color:#fff;
}

.pages-signup-wrapper h3 {
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto;
  line-height: normal;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

/* Home Page Signup CSS End */

/* Home Page Featured Cards CSS Start */
.heading-like {
  font-weight: 600;
  color: #fccb06;
}

.home-page-featured-cards-section {
  background-image: url("../images/featured-hotel-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  isolation: isolate;
  background-color: rgba(0 0 0/70%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.subpage-exp-content {
  margin-top: 10px;
  display: none;
  padding: 0 0 15px 0;
}

.btn-darkred-block {
  background: #fccb06;
  color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: 0.7s all ease-in-out;
  cursor: pointer;
  line-height: normal;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-darkred-block:hover {
  background: #fff;
 
}

.external-pages-link-btn {
color: #000;
  background-color: #fff;
  outline: none;
  padding: 10px 20px;
  line-height: normal;
  text-align: center;
  transition: 0.7s all ease-in-out;
  overflow: hidden;
  border: 1px solid transparent;
  font-weight: 600;
}

.external-pages-link-btn:hover {
  background: #fccb06;
  border-color: #fccb06;
  color: #000;
}

.text-left {
  display: flex;
  gap: 10px;
  width: 100%;
}

.home-page-featured-cards {
  padding: 15px;
  background-color: #000;
  border: 2px solid #fccb06;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.home-page-featured-cards-group {
  margin-bottom: 15px;
}

.home-page-featured-cards-content {
  padding: 15px;
}

.home-page-featured-cards-group h3 {
  font-size: 50px;
  margin-bottom: 7px;
  font-weight: 700;
}

.dollar-bag {
  margin-right: 8px;
  animation: beat 2s linear infinite;
}
@keyframes beat {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}



.home-page-featured-cards-image {
  overflow: hidden;
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.home-page-featured-cards-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s all ease-in-out;
}

.home-page-featured-cards-image img:hover {
  transform: scale(1.1) rotate(-3deg);
}

.home-page-featured-cards-group p {
  margin-bottom: 10px;
}

.home-page-featured-cards-group ul li {
  list-style: disc;
  margin-left: 16px;
  margin-bottom: 10px;
}

.home-page-featured-cards-group ul li:last-child {
  margin-bottom: 0;
}

/* Home Page Featured Cards CSS End */

/* Page Blog Cards CSS Start */
section.pages-blog-cards {
  overflow: hidden;
}

.page-blog-cards {
  position: relative;
  overflow: hidden;
  background-color: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  border: 5px solid #fccb06; 
  height: 300px;
  overflow: hidden;
}

.blog-cards-content h3 {
  font-size: 30px;
  font-weight: 900;
}

.blog-cards-content p {
  font-size: 15px;
}

.blog-card-btn {
  color: #fff;
  color: #000;
  background: #fccb06;
  outline: none;
  padding: 10px 20px;
  line-height: normal;
  text-align: center;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  border: 1px solid transparent;
  font-weight: 600;
  margin: 10px auto;
}

.blog-card-btn:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.blog-cards-content {
  padding: 20px;
  position: absolute;
  background: rgba(0 0 0/80%);
  background-blend-mode: multiply;
  top: 100%;
  height: 100%;
  width: 100%;
  transition: 0.4s all ease-in-out;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.page-blog-cards:hover .blog-cards-content {
  top: 40%;
  opacity: 1;
  visibility: visible;
}

.blog-cards-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.blog-cards-image img {
  transition: 0.5s all ease-in-out;
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.page-blog-cards:hover .blog-cards-image img {
  transform: scale(1.1) rotate(-3deg);
}

/* Page Blog Cards CSS End */

/* Pages Disclaimer Section CSS Start */
.disclaimer-wrapper p {
  padding: 20px;
  border:1px solid #e9cd5e
}

/* Pages Disclaimer Section CSS End */

/* Pages Accordion Section CSS Start  */
.accordion-button::after {
  flex-shrink: 0;
  content: "\f067";
  font-family: "FontAwesome";
  background-image: none;
  background-repeat: no-repeat;

}

.accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-family: "FontAwesome";
  background-image: none;
  transform: rotate(0);
  background: transparent;
}

.accordion {
  --bs-accordion-btn-icon-transform: rotate(0);
}

.accordion-button:not(.collapsed) {
  background:#efcd45 ;
  box-shadow: none;
  color: #000;
  font-weight: 600;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button {
  color: #000;
  font-weight: 600;
  background:#efcd45 ;
}

.accordion {
  --bs-accordion-border-color: none;
}

.accordion-item {
  margin-bottom: 12px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-item:first-of-type {
  border-radius: 0;
}

.accordion-body {
  background-color: #fff;
  font-weight: 500;
  font-size: 15px;
}

/* Pages Accordion Section CSS End  */

/* Footer CSS Start */
.footer {
  background-image: url("../images/footer-bg1.png");
  background-color: rgba(0 0 0/75%);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30px;
  overflow: hidden;
}

.logo-bottom img {
  width: 100%;
  max-width: 230px;
}

.footer-items {
  width: 30%;
  padding: 0 20px;
}

.footer-menu-icons {
  color: #fccb06;
  margin-right: 5px;
}

.footer-items h3 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 12px;
  color:#fccb06 ;
}

.footer-items .social-icons {
  width: 100%;
  margin: 7px auto;
}


.footer-items ul li a {
  padding: 3px 0;
  color: #fff;
}

.footer .footer-items ul li a {
  transition: 0.6s all ease;
  font-size: 17px;
  position: relative;
}


.footer .footer-items ul li a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #fccb06;
  transition: all 300ms ease-in-out;
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
}


.footer .footer-items ul li a:hover:after {
  width: 100%;
}


.copyright {
  padding: 15px 0;
  text-align: center;
  margin: auto 0;
  border-top: 1px solid #fccb06;
}

.copyright p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

/* Footer CSS End */

/* Social Icons CSS Start */
.social-icons {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin: 10px auto;

}

.social-icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  background-color: #fffcfc;
 color: #000;
  line-height: normal;
  margin: 0 1px;
  transition: 0.3s all ease-in-out;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.social-icons i:hover {
  background: linear-gradient(to top, #fccb06, #edd36a);
  transform: translateY(2px);
}

/* Social Icons CSS End */

/* Pages Banner CSS Start */
 .pages-banner-image {
  height: 550px;
  width: 100%;
  overflow: hidden;
} 

.pages-banner-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.pages-banner-text h1 {
  font-size: 70px;
  max-width: 800px;
  margin: 0 auto;
}

.pages-banner-text h3 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.pages-banner-text-group {
  animation: roll 2s ease-in-out forwards;
  opacity: 0;
  transform: translateX(-100%);
  text-align: center;
}

@keyframes roll {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Pages Banner CSS End */

/* Pages Cards CSS Start */
.pages-cards {
  margin-bottom: 40px;
  border: 3px double #fccb06;
  padding: 15px;
  overflow: hidden;
}

.pages-cards-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pages-cards-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pages-cards-group {
  margin-bottom: 15px;
}

.pages-cards-group h2 {
  font-size: 45px;
  margin-bottom: 0;
}

.pages-cards-group p {
  margin-bottom: 5px;
}

.pages-cards-group ul li {
  margin-bottom: 5px;
  list-style-type: disc;
  margin-left: 16px;
}

/* Pages Cards CSS End */

/* Privacy Policy CSS Start */
.privacy-policy-group {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: rgb(252, 203, 6) 0px 20px 15px -20px, rgb(252, 203, 6) 0px 20px 20px -30px, rgb(252, 203, 6) 0px -2px 6px 0px inset;
  border-radius: 10px;
  overflow: none;
}

.privacy-policy-group h3 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fccb06;
}

.privacy-policy-group h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.privacy-policy-group p {
  margin-bottom: 10px;
}

.privacy-policy-group ul li {
  margin-bottom: 10px;
  list-style-type: disc;
  margin-left: 17px;
}

.privacy-policy-group p a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
}

.privacy-policy-group ul {
  margin: 10px auto;
}

/* Privacy Policy CSS End */

/* Contact Us Page CSS Start */
.contact-us-page-form-section .container>h3 {
  font-family: "Raleway", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  font-size: 24px;
}


.contact-us-form-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contact-us-form-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.form-wrapper {
  height: 100%;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Raleway", sans-serif;
}

#contact {
  background-image: url("../images/form-bg.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 100%;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact select {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 14px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover,
#contact select:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}


#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact select {
  max-width: 100%;
  color: #888;
  outline: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 35%;
  border: none;
  background: #efcd45;
  color: #000;
  margin: 0 0 5px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}
#contact button[type="submit"]:hover {
  background: #fccb06;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder,
::-webkit-select-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.contact-us-group {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: rgb(252, 203, 6) 0px 20px 15px -20px, rgb(252, 203, 6) 0px 20px 20px -30px, rgb(252, 203, 6) 0px -2px 6px 0px inset;
  border-radius: 10px;
  overflow: none;
}

.contact-us-group h3 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fccb06;
}

.contact-us-group p {
  margin-bottom: 10px;
}

.contact-us-group ul li {
  list-style: disc;
  margin-left: 16px;
}

.contact-us-group ul li a,
.contact-us-group p a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
}

.contact-us-group ul li a:hover,
.contact-us-group p a:hover {
  color:#fccb06;
  transform: translateX(2px);
}

/* Contact Us Page CSS End */

/* Terms and Conditions CSS Start */
.terms-conditions-group {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: rgb(252, 203, 6) 0px 20px 15px -20px, rgb(252, 203, 6) 0px 20px 20px -30px, rgb(252, 203, 6) 0px -2px 6px 0px inset;
  border-radius: 10px;
  overflow: none;
}

.terms-conditions-group h3 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fccb06;
}

.terms-conditions-group h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.terms-conditions-group .odd-heading {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}

.terms-conditions-group p {
  margin-bottom: 10px;
}

.terms-conditions-group p a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
}

.terms-conditions-group p a:hover {
  color: #fccb06;
  transform: translateX(2px);
}

/* Terms and Conditions CSS End*/

/* Blog Pages CSS Start */
.blog-page-cards {
  margin-bottom: 30px;
  padding: 15px;
  min-height: 230px;
  box-shadow:rgb(252, 203, 6) 0px 20px 15px -20px,rgb(252, 203, 6) 0px 20px 20px -30px, rgb(252, 203, 6) 0px -2px 6px 0px inset;
}

.blog-page-cards h3 {
  font-size: 45px;
  margin-bottom: 10px;
  color: #fccb06;
}

.blog-page-cards-wrapper>h2 {
  font-size: 50px;
  border: 1px solid #fccb06;
  padding: 10px;
}

.blog-page-cards-wrapper>p {
  max-width: 950px;
  margin: auto;
}

/* Blog Pages CSS End */


/* Cookies CSS Start */
.wrapper {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background-color:#edd36a;
  padding: 15px 25px 22px;
  transition: all 1s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper.show {
  bottom: 0;
}

.info {
  margin-bottom: 15px;
}

.info p {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.button {
  width: calc(30% / 2 - 10px);
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #FFF;
  color: #000;
  cursor: pointer;
  transition: all 0.7s ease;
  font-weight: 600;
  border: 1px solid #fff;
}

.button:hover {
  color: #000;
  border-color:#000;
}

/* Cookies CSS End */